<%= form_for @tour, html: { multipart: true, class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, class: 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, class: 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hours, class: 'control-label' %>
    <div class="controls">
      <%= f.select :hours, [['1 hour', 1], ['2 hours', 2], ['3 hours', 3], ['4 hours', 4]], class: 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :topic_list, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :topic_list, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time_list, "Time of tour (e.g. morning, daytime, evening, late_night)", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :time_list, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image, class: 'control-label' %>
    <div class="controls">
      <%= f.file_field :image, class: 'file_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :banner, class: 'control-label' %>
    <div class="controls">
      <%= f.file_field :banner, class: 'file_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', tours_path, class: 'btn' %>
  </div>
<% end %>
