<li class="span4 tour-thumbnail search-tile price<%= tour.price %> <%= tour.topic_list.join(' ')%> <%= tour.time_list.join(' ') %>">
    <div class="thumbnail" style="background-image: url(<%= tour.image.url %>); height: 250px;">
      <h2 class="title"><%= tour.title %></h2>
      <a href="<%= tour_path(tour) %>" class="btn btn-success btn-large">$<%= tour.price %> for <%= pluralize(tour.hours, 'hour') %></a>
    </div>
</li>
