<a href="<%= tour_path(tour) %>">
    <div class="search-tile <%= tour.topic_list.join(' ')%> <%= tour.time_list.join(' ') %> price<%= tour.price %>" style="background-image: url(<%= tour.image.url %>);">
      <div class="description" style="display: none"><%= tour.description %></div>
      <h2><%= tour.title %></h2>
       <p class="search-price">$<%= tour.price %> for <%= pluralize(tour.hours, 'hour') %>
       </p>
    </div>
</a>