<div class="center">
  <h1>Discover</h1>
</div>
<div class="span3">
  <div class="filter-sidebar well">
    <ul class="nav nav-list">
      <li class="nav-header">
        Topics
      </li>
      <li>
        <% topics = %w(food music nightlife clothing art movies athletics religion homes) %>
        <% topics.each do |topic| %>
        <label class="checkbox">
          <input type="checkbox" class="topicCheckbox" value="<%= topic %>" checked>
          <%= topic.capitalize %>
        </label>
        <% end %>
      </li>
      <li class="nav-header">
        Time of day
      </li>
      <li class="tour-times">
        <% times = %w(morning daytime evening late_night) %>
        <% times.each do |time| %>
        <label class="checkbox">
          <input type="checkbox" class="topicCheckbox" value="<%= time %>" checked>
          <%= time.gsub('_', ' ').capitalize %>
        </label>
        <% end %>
      </li>
      <li class="nav-header">
        Maximum Price
      </li>
      <li>
        <input type="text" class="input-medium search-query price-text">
      </li>
    </ul>
  </div>
</div>
<div class="span8">
  <ul class="thumbnails" id="isotope-wrapper" >
    <%= render @tours %>
  </ul>
</div>
