<div class="content">
<div class="search-sidebar">
			<h3>Tour Search</h3>
			<p>It's time to find the perfect tour. Use the criteria below to filter down to the topics you find most interesting, or just scroll through the most popular ones until something catches your eye.</p>
			<div class="sidebar-selector">
				<input type="text" class="sidebar-text-field search-text">
				</input> 	
			</div>
			<div class="tour-types sidebar-selector">
        <% topics = %w(food music nightlife clothing art movies athletics religion homes) %>
        <% topics.each do |topic| %>
        <label class="checkbox">
          <input type="checkbox" id="topicCheckbox" value="<%= topic %>">
          <%= topic.capitalize %>
        </label>
        <% end %>
      </div>
      <div class="tour-times sidebar-selector">
        <% times = %w(morning daytime evening late_night) %>
        <% times.each do |time| %>
        <label class="checkbox">
          <input type="checkbox" id="topicCheckbox" value="<%= time %>">
          <%= time.gsub('_', ' ').capitalize %>
        </label>
        <% end %>
      </div>
      <div class="sidebar-selector">
				<input type="text" class="sidebar-text-field price-text"></input>
			</div>
</div>


<div class="search-content">
	<div id="isotope-wrapper">
    <%= render @tours %>
  </div>
</div>
</div>