<h1>Tour</h1>

<dl class="dl-horizontal">
  <dt><strong>Title:</strong></dt>
  <dd><%= @tour.title %></dd>
  <dt><strong>Description:</strong></dt>
  <dd><%= @tour.description %></dd>
  <dt><strong>Guide ID:</strong></dt>
  <dd><%= @tour.guide_id %></dd>
  <dt><strong>Image:</strong></dt>
  <dd><%= image_tag @tour.image.url %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Back',
              tours_path, :class => 'btn'  %>
  <%= link_to 'Edit',
              edit_tour_path(@tour), :class => 'btn' %>
  <%= link_to 'Destroy',
              tour_path(@tour),
              method: 'delete',
              confirm: 'Are you sure?',
              class: 'btn btn-danger' %>
</div>
