<h1>Show Guide</h1>
<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @guide.name %></dd>
  <dt><strong>Description:</strong></dt>
  <dd><%= @guide.description %></dd>
  <dt><strong>Image:</strong></dt>
  <dd><%= image_tag @guide.image.url %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Back', guides_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_guide_path(@guide), :class => 'btn' %>
  <%= link_to 'Destroy', guide_path(@guide),
              method: 'delete',
              confirm: 'Are you sure?',
              class: 'btn btn-danger' %>
</div>
