<!DOCTYPE html>
<html>
<head>
  <title>Agora</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--passion one from google webfonts-->
  <link href='http://fonts.googleapis.com/css?family=Passion+One:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>


</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
    <footer class="footer span12">
      <small>
        <%= link_to 'Agora', root_url %>
      </small>
      <nav>
        <ul>
          <li><%= link_to "About",   '#' %></li>
          <li><%= link_to "Contact", '#' %></li>
        </ul>
      </nav>
    </footer>
  </div>
</body>

</html>
